<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.com"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template1">
<head>
<meta charset="utf-8">
<title>Ajouter patient</title>


</head>
<body>
		<div layout:fragment="pageContent">
			<div class="container">
				<div class="card">
					<div class="card-header">Enregistrement effectué avec succés</div>
					<div class="card-body">
						<div class="form-group">
							<label>ID</label>
							<strong><label th:text="${patient.id}"></label></strong>
						</div>
						<div class="form-group">
							<label>Name</label>
							<label th:text="${patient.name}"></label>
						</div>
						<div class="form-group">
							<label>Score</label>
							<label th:text="${patient.score}"></label>
						</div>
						<div class="form-group">
							<label>Naissance</label>
							<label th:text="${patient.naissance}"></label>
						</div>
						<div class="form-group">
							<label>Malade</label>
							<label th:text="${patient.malade }"></label>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	
</body>
</html>